<template>
  <div class="app-container">
    <!-- Testing Result for Top 40 -->
    <div class="card-panel-description" style="width: 100%;margin-bottom: 25px;">
      <div class="card-panel-text">Testing Result for Top 40</div>
      <el-table
        :key="tableKey"
        :data="hslPengujianTop40"
        border
        fit
        highlight-current-row
        style="width: 100%; padding: 10px"
        :visible.sync="tableVisible"
      >
        <el-table-column label align="center" width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.key }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Precision" width="100" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.precision }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Recall" width="100" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.recall }}</span>
          </template>
        </el-table-column>
        <el-table-column label="F1score" width="100" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.f1score }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- Generate rekomendasi ulang utk semua user -->
    <div class="card-panel-description" style="width: 100%;margin-bottom: 25px;">
      <div class="card-panel-text">Generate Recommendation for All User and Update in Database</div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="calculateRecommendationAllUser()">Generate All</el-button>
      </div>
    </div>

    <div class="card-panel-description">
      <div class="card-panel-text">Testing</div>
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="140px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item label="Digit limit" prop="digitLimit">
          <el-input v-model.number="temp.digitLimit" />
        </el-form-item>
        <el-form-item label="Limit list" prop="limitList">
          <el-input v-model.number="temp.limitList" />
        </el-form-item>
        <el-form-item label="Threshold" prop="threshold">
          <el-input v-model.number="temp.threshold" />
        </el-form-item>
        <el-form-item label="K similar session" prop="topK">
          <el-input v-model.number="temp.topK" />
        </el-form-item>
        <el-form-item label="User" prop="userId">
          <el-select v-model="temp.userId" class="form-control" placeholder="Please select">
            <el-option v-for="user in listUser" :key="user.id" :label="user.name" :value="user.id" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="getRecommendation()">Get Recommendation</el-button>
        <el-button type="primary" @click="calculateRecommendationUser()">Calculate Recommendation</el-button>
      </div>

      <!-- Hasil F1Score -->
      <el-table
        :key="tableKey"
        v-loading="listLoading"
        :data="listPengujian"
        border
        fit
        highlight-current-row
        style="width: 100%; padding: 10px"
        :visible.sync="tableVisible"
      >
        <div slot="empty">
          <p> No Data </p>
        </div>
        <el-table-column label="Precision" align="center" width="130">
          <template slot-scope="scope">
            <span>{{ scope.row.precision }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Recall" align="center" width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.recall }}</span>
          </template>
        </el-table-column>
        <el-table-column label="F1 Score" align="center" width="150">
          <template slot-scope="scope">
            <span>{{ scope.row.f1Score }}</span>
          </template>
        </el-table-column>
      </el-table>

      <!-- Hasil Genre -->
      <el-table
        :key="tableKey"
        v-loading="listLoading"
        :data="listPengujian"
        border
        fit
        highlight-current-row
        style="width: 100%; padding: 10px"
        :visible.sync="tableVisible"
      >
        <div slot="empty">
          <p> No Data </p>
        </div>
        <el-table-column label="Genre Yg Benar" align="center" width="130">
          <template slot-scope="scope">
            <span>{{ scope.row.genreYgBenar }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Liked Genre" align="center" width="250">
          <template slot-scope="scope">
            <span>{{ scope.row.likedGenre }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Total Genre" align="center" width="150">
          <template slot-scope="scope">
            <span>{{ scope.row.totalGenre }}</span>
          </template>
        </el-table-column>
      </el-table>

      <!-- Hasil rekomendasi -->
      <el-table
        :key="tableKey"
        v-loading="listLoading"
        :data="list"
        border
        fit
        highlight-current-row
        style="width: 100%; padding: 10px"
        :visible.sync="tableVisible"
      >
        <div slot="empty">
          <p> No Data </p>
        </div>
        <el-table-column label="Rating Lagu" align="center" width="130">
          <template slot-scope="scope">
            <span>{{ scope.row.weight }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Song ID" align="center" width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.songs.id }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Song Title" align="center" width="300">
          <template slot-scope="scope">
            <span>{{ scope.row.songs.title }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Genre ID" align="center" width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.songs.id_genre }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import {
  fetchList
} from "@/api/article";

import {
  getRecomendationSong,
  calculateRecommendationUser,
  calculateRecommendationAllUser
} from "@/api/song";

import waves from "@/directive/waves"; // waves directive
import { parseTime } from "@/utils";
import Pagination from "@/components/Pagination"; // secondary package based on el-pagination

export default {
  name: "Testing",
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      temp: {
        digitLimit: 4,
        limitList: 40,
        threshold: 30,
        topK: 30,
        userId: '',
        message: ""
      },
      tableVisible: false,
      dialogStatus: "",
      dialogPvVisible: false,
      rules: {
        sk: [{ type: "number", message: "k must be a number" }],
        userId: [
          { required: true, message: "user is required", trigger: "blur" }
        ]
      },
      listUser: [],
      listPengujian: [],
      hslPengujianTop40: [
        {
          key: "Fold 1",
          precision: "0,7783",
          recall: "0,0008",
          f1score: "0,0016"
        },
        {
          key: "Fold 2",
          precision: "0,8651",
          recall: "0,0009",
          f1score: "0,0017"
        },
        {
          key: "Fold 3",
          precision: "0,7942",
          recall: "0,0008",
          f1score: "0,0016"
        },
        {
          key: "Fold 4",
          precision: "0,8321",
          recall: "0,0008",
          f1score: "0,0017"
        },
        {
          key: "Fold 5",
          precision: "0,7437",
          recall: "0,0008",
          f1score: "0,0016"
        },
        {
          key: "Fold 6",
          precision: "0,6624",
          recall: "0,0007",
          f1score: "0,0014"
        },
        {
          key: "Fold 7",
          precision: "0,7269",
          recall: "0,0008",
          f1score: "0,0015"
        },
        {
          key: "Fold 8",
          precision: "0,7500",
          recall: "0,0008",
          f1score: "0,0015"
        },
        {
          key: "Fold 9",
          precision: "0,8288",
          recall: "0,0009",
          f1score: "0,0017"
        },
        {
          key: "Fold 10",
          precision: "0,7747",
          recall: "0,0008",
          f1score: "0,0016"
        },
        {
          key: "Average",
          precision: "0,7756",
          recall: "0,0008",
          f1score: "0,0016"
        }
      ]
    };
  },
  created() {
    this.getListUser();
    this.tableVisible = false;
  },
  methods: {
    // getalluser
    getListUser() {
      fetchList().then(response => {
        this.listUser = response.data

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    getRecommendation() { 
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          this.listPengujian = []
          this.listLoading = true
          var bodyFormData = new FormData()
          bodyFormData.set("userId", this.temp.userId)

          getRecomendationSong(this.temp).then(response => {
            this.listLoading = false
            if (response.status != true) {
              this.$notify({
                title: "Error",
                message: response.message,
                type: "error",
                duration: 2000
              })
              this.list = []
              this.listPengujian = []
            } else {
              this.$notify({
                title: "Success",
                message: response.message,
                type: "success",
                duration: 2000
              })
              var dataPengujian = {
                precision: response.data_pengujian.precision,
                recall: response.data_pengujian.recall,
                f1Score: response.data_pengujian.f1Score,
                genreYgBenar: response.data_pengujian.genreYgBenar,
                likedGenre: response.data_pengujian.likedGenre,
                totalGenre: response.data_pengujian.totalGenre
              }
              this.list = response.data
              this.listPengujian.push(dataPengujian)
              this.temp.message = response.message
            }
            // this.total = response.data.total
            // Just to simulate the time of the request
            setTimeout(() => {
              this.listLoading = false
            }, 1.5 * 2000)
          })
        }
      })
    },
    calculateRecommendationUser() {
      this.$refs["dataForm"].validate(valid => {
        this.listPengujian = []
        this.listLoading = true
        var bodyFormData = new FormData()
        bodyFormData.set("digitLimit", this.temp.digitLimit)
        if (this.temp.limit_list != "") {
          bodyFormData.set("limitList", this.temp.limit_list)
        }
        if (this.temp.threshold != "") {
          bodyFormData.set("threshold", this.temp.threshold)
        }
        if (this.temp.k != "") {
          bodyFormData.set("topK", this.temp.k)
        }
        bodyFormData.set("userId", this.temp.user_id)
        calculateRecommendationUser(this.temp).then(response => {
          this.listLoading = false
          if (response.status != true) {
            this.$notify({
              title: "Error",
              message: response.message,
              type: "error",
              duration: 2000
            })
          } else {
            this.$notify({
                  title: "Success",
                  message: response.message,
                  type: "success",
                  duration: 2000
                })
                var dataPengujian = {
                  precision: response.data_pengujian.precision,
                  recall: response.data_pengujian.recall,
                  f1Score: response.data_pengujian.f1Score,
                  genreYgBenar: response.data_pengujian.genreYgBenar,
                  likedGenre: response.data_pengujian.likedGenre,
                  totalGenre: response.data_pengujian.totalGenre
                }
                this.list = response.data
                this.listPengujian.push(dataPengujian)
                this.temp.message = response.message
            }
        })
      })
    },
    calculateRecommendationAllUser() {
      this.$refs["dataForm"].validate(valid => {
        this.listLoading = true
        var bodyFormData = new FormData()
        bodyFormData.set("digitLimit", this.temp.digitLimit)
        if (this.temp.limit_list != "") {
          bodyFormData.set("limitList", this.temp.limit_list)
        }
        if (this.temp.threshold != "") {
          bodyFormData.set("threshold", this.temp.threshold)
        }
        if (this.temp.k != "") {
          bodyFormData.set("topK", this.temp.k)
        }
        calculateRecommendationAllUser(this.temp).then(response => {
          this.listLoading = false
          if (response.status != true) {
            this.$notify({
              title: "Error",
              message: response.message,
              type: "error",
              duration: 2000
            })
          } else {
            this.temp.message = response.message
          }
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;
}
.card-panel-description {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  color: #666;
  background: #fff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);

  .card-panel-text {
    font-weight: bold;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    margin: 26px;
  }

  .card-panel-num {
    font-size: 20px;
  }
}
.dialog-footer {
  margin: 20px;
  margin-left: 30px;
}
</style>
