<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.name" placeholder="Name" style="width: 240px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-right: 10px; float: right" type="primary" icon="el-icon-edit" @click="handleCreate">
        Add
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" align="center" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Profile" width="160px" align="center">
        <template slot-scope="scope">
          <div>
            <img :src="scope.row.image" width="100" height="100">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="Name" width="310px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Status" width="150px" align="center">
        <template slot-scope="{row}">
          <el-tag :type="statusMap[row.status] | statusFilter">
            {{ statusMap[row.status] }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Action" align="center" width="400" class-name="small-padding fixed-width">
        <template slot-scope="{row}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            View
          </el-button>
          <el-button v-if="row.status!='-1'" size="mini" type="danger" @click="handleModifyStatus(row,'deleted'), handleBlock(row)">
            Block
          </el-button>
          <el-button v-if="row.status!='0'" size="mini" @click="handleModifyStatus(row,'deleted'), handleUnblock(row)">
            Unblock
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
    
    <!-- view user -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :model="temp" label-position="left" label-width="140px" style="width: 400px; margin-left:50px;">
        <el-row>
          <el-col :span="10">
            <div class="avatar-wrapper">
              <img :src="temp.image" class="user-avatar" width="160" height="160">
            </div>
          </el-col>
          <el-col :span="14">
            <br>
            <el-form-item label="Name" prop="name">
              <span>{{ temp.name }}</span>
            </el-form-item>
            <el-form-item label="Email" prop="email">
              <span>{{ temp.email }}</span>
            </el-form-item>
            <el-form-item label="Role" prop="role">
              <span>{{ roleMap[temp.role]}}</span>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Close
        </el-button>
      </div>
    </el-dialog>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="addFormVisible">
      <el-form ref="addForm" :rules="rules" :model="temp" label-position="left" label-width="140px" style="width: 500px; margin-left:50px;">
        <el-row>
          <el-form-item label="Email" prop="email">
            <el-input v-model="temp.email" />
          </el-form-item>
          <el-form-item label="Name" prop="name">
            <el-input v-model="temp.name" />
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input v-model="temp.password" show-password />
          </el-form-item>
          <el-form-item label="Role" prop="role">
            <el-select v-model="temp.role" class="filter-item" placeholder="Please select">
              <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </el-form-item>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addFormVisible = false">
          Close
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <!-- add user -->
    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getAllUser, searchUser, addUser, blockUser, unblockUser } from '@/api/user'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const calendarTypeOptions = [
  { key: '1', display_name: 'Admin' },
  { key: '0', display_name: 'User' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'User',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        active: 'success',
        blocked: 'info'
      }
      return statusMap[status]
    },
    roleFilter(role) {
      const roleColor = {
        'Admin': 'primary',
        'User': 'success',
        'Blocked': 'info'
      }
      return roleColor[role]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        name: '',
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      showReviewer: false,
      temp: {
        name: '',
        email: '',
        image: '',
        password: '',
        role: 0
      },
      dialogFormVisible: false,
      addFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'View Member',
        create: 'Add User'
      },
      roleMap: {
        1: 'Admin',
        0: 'User'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        email: [
          { required: true, message: 'email is required', trigger: 'blur' },
          { type: 'email', message: 'email is not valid', trigger: 'blur' }
        ],
        name: [{ required: true, message: 'name is required', trigger: 'blur' }],
        password: [
          { required: true, message: 'password is required', trigger: 'blur' },
          { min: 6, message: 'password should be at least 6 characters', trigger: 'blur'}
        ],
        role: [{ required: true, message: 'role is required', trigger: 'blur' }]
      },
      downloadLoading: false,
      statusMap: {
        '-1': 'blocked',
        '0': 'active'
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      getAllUser(this.listQuery).then(response => {
        this.list = response.data

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getSearchUser()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: 'Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        name: '',
        email: '',
        registered_date: '',
        last_login_date: '',
        image: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.addFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['addForm'].validate((valid) => {
        if (valid) {
          var bodyFormData = new FormData()
          bodyFormData.set('email', this.temp.email)
          bodyFormData.set('name', this.temp.name)
          bodyFormData.set('password', this.temp.password)
          bodyFormData.set('role', this.temp.role)
          addUser(bodyFormData).then((response) => {
            if(response.status == true){
              this.addFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
              this.getList()
            }
            else{
              this.$notify({
                title: 'Error',
                message: 'Email has been registered, please try another',
                type: 'error',
                duration: 4000
              })
              this.resetTemp()
            }
          })
        }
      })
    },
     handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      // this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}`
        ? 'ascending'
        : sort === `-${key}`
          ? 'descending'
          : ''
    },
    getSearchUser() {
      this.listLoading = true

      searchUser(this.listQuery.name).then(response => {
        this.list = response.data

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleBlock(row) {
      blockUser(row.id).then(() => {
        this.$notify({
          title: 'Success',
          message: 'Blocked Successfully',
          type: 'success',
          duration: 2000
        })
        this.getList()
      })
    },
    handleUnblock(row) {
      unblockUser(row.id).then(() => {
        this.$notify({
          title: 'Success',
          message: 'Unblocked Successfully',
          type: 'success',
          duration: 2000
        })
        this.getList()
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  .avatar-container {
    margin-right: 30px;
  }
  .avatar-wrapper {
    margin-top: 5px;
    position: relative;
  }
  .user-avatar {
    cursor: pointer;
    width: 140px;
    height: 180px;
    border-radius: 0px;
  }
</style>

<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
