<template>
  <el-table :data="list" style="width: 100%;padding-top: 10px;">
    <el-table-column min-width="200" label="10 Top Recently Played">
      <template slot-scope="scope">
        {{ scope.row.songs.title}}
        <br/>
        {{ scope.row.songs.artist.name}}
      </template>
    </el-table-column>
    <!-- <el-table-column label="Price" width="195" align="center">
      <template slot-scope="scope">
        ¥{{ scope.row.price | toThousandFilter }}
      </template>
    </el-table-column>
    <el-table-column width="100" align="center">
      <template slot-scope="{row}">
        <el-tag :type="row.status | statusFilter">
          {{ row.status }}
        </el-tag>
      </template>
    </el-table-column> -->
  </el-table>
</template>

<script>
import { transactionList } from '@/api/remote-search'
import { getAllRecentlyPlayed } from '@/api/song'

export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        success: 'success',
        pending: 'danger'
      }
      return statusMap[status]
    },
    orderNoFilter(str) {
      return str.substring(0, 30)
    }
  },
  data() {
    return {
      list: null
    }
  },
  created() {
    // this.fetchData()
    this.fetchAllRecentlyPlayed()
  },
  methods: {
    fetchData() {
      transactionList().then(response => {
        this.list = response.data.items.slice(0, 8)
      })
    },
    fetchAllRecentlyPlayed(){
      getAllRecentlyPlayed().then(response => {
        this.list = response.data.slice(0, 10)
          console.log(response)
      })
    }
  }
}
</script>
